<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>

        <property name="hibernate.connection.driver_class">org.mysql.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/deus_schema</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection"></property>

    </session-factory>
</hibernate-configuration>